/*The position of the #canvas and the #character must not change, or they will not work*/
#canvas {
    position: absolute;
    top: 200px;
    left: 200px;
}

#character {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 200px;
	left: 200px;
}