/*The position of the #canvas must not change, or it will not work*/
#canvas {
    position: absolute;
    top: 200px;
    left: 200px;
}

button {
    position: absolute;
    background-color: #008CBA;
    border: 1px solid white;
    text-align: center;  
    font-size:24px;
    height: 30px;
    width: 75px;
    top: 600px;
}

button:hover{
    background:red;
}
#button1 {
    left: 275px;
}

#button2 {
    left: 550px;
}
button#confirm {
    position: absolute;
    top:640px;
    left: 412px;
    font-size: 20px;
}
/*Applies to all <input> tags where the src attribute contains the substring "plus"*/
input[src*="plus"] {
    position: absolute;
    width: 30px;
    left: 655px;
}
input[src*="minus"] {
    position: absolute;
    width: 30px;
    left: 530px;
}
#plus1 {
    top: 248px;
}
#plus2 {
    top: 323px;
}
#plus3 {
    top: 398px;
}
#plus4 {
    top: 473px;
}
#plus5 {
    top: 548px;
}
#plus6 {
    top: 623px;
}
#minus1 {
    top: 248px;
}
#minus2 {
    top: 323px;
}
#minus3 {
    top: 398px;
}
#minus4 {
    top: 473px;
}
#minus5 {
    top: 548px;
}
#minus6 {
    top: 623px;
}
.text{		
	text-align:center;	
	font-size:18px;	
	text-decoration:none;	
	margin-left:50px;	
	display: block;	
}
#side {
	float:right;
}
#foot{
	width:100%;
	height:100px;
	background-color: black;
}
strong{
	color:white;
}
#enjoy{
	color:green;
	text-align: center;
	font-size: 24px;
	   animation:3s blinker linear infinite;
    -webkit-animation:3s blinker linear infinite;
    -moz-animation:3s blinker linear infinite;

    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }
